* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: open sans,helveticaneue,helvetica neue,Helvetica,Arial,sans-serif;
    margin: 0px;
}

div {
    display: block;
}

.floatr {
    float: right;
}

#wrapper {
    background-color: #fff;
    width: 1020px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

#blueline {
    background-color: #169fe6;
    height: 5px;
}

.logo {
    margin-right: 10px;
}

#logo-text {
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #888;
    font-size: 12px;
    border-left: 1px solid #e8e8e8;
}

#social-media {
    float: right;
    margin: 20px 0 10px;
}

ul {
    background-color: transparent;
    padding: 0px;
}

#social-media li {
    list-style: none;
    display: block;
    width: calc(100% / 5 - 38px);
    opacity: .4;
    float: right;
}

#social-media li:hover {
    opacity: 1;
}

#social-media img {
    width: 100%;
    float: left;
    cursor: pointer;
}

#contact {
    font-size: 11px;
    color: #888;
    cursor: pointer;
    margin: 0px;
    float: right;
    padding: 2px;
}

#contact:hover {
    color: black;
}

.form-inline {
    margin-bottom: 20px;
    float: right;
}

.form-inline button {
    padding: 8px 9px;
    margin: 0px;
    font-size: 11px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .03);
    border-left: 0px;
    background-color: white;
    color: #888;
}

.form-inline input {
    padding: 8px 9px;
    margin: 0px;
    font-size: 11px;
    width: 180px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, .03);
    border-right: 0px;
}

.navbar-nav {
    width: 100%;
    float: left;
}

nav a {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    text-align: center;
    padding: 15px 20px 16px;
    opacity: 1;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav li {
    display: inline-block;
    opacity: 1;
    width: calc(100% /7 - 30px);
}

.navbar {
    padding: 0rem 0rem;
}

.icon {
    color: white;
    float: left;
}

.nav-item {
    border-right: 1px solid #666;
    display: inline-flex;
    line-height: 18px;
}

.nav-item:last-child {
    border: none;
}

.carousel-control-prev-icon {
    background-color: grey;
}

.carousel img {
    width: 100%;
    position: relative;
}

#slide1 {
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    background-color: #DC354A;
    padding: 18px 22px;
    position: absolute;
    left: 700px;
    top: 400px;
}

#slide2 {
    font-size: 14px;
    border-radius: 2px;
    color: #fff;
    background-color: #4c4c4c;
    background: rgba(0, 0, 0, .4);
    padding: 18px 22px;
    position: absolute;
    left: 70px;
    top: 400px;
}

.carousel-control-next-icon {
    background-color: #4c4c4c;
}

#gen-info p {
    font-size: 13px;
    color: #666666;
}

main h4 {
    columns: #333333;
    font-size: 16px;
}

#gen-info .row {
    margin: 0px;
}

#recent {
    background: #fcfcfc;
}

#recent p {
    font-size: 13px;
    color: #888888;
}

#recent .row {
    margin: 0px;
}

#recent h5 {
    font-size: 13px;
    color: #333333;
    margin-bottom: 0px;
}

#recent span {
    font-size: 13px;
    color: #888888;
}

.img-text {
    padding: 14px 0 19px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12), 0 0 1px rgba(0, 0, 0, .1);
    border-top: 5px solid #e5e5e5;
    text-align: center;
    margin: 0px;
}

.recent-div:hover .img-text {
    border-top: 5px solid #169fe6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .12), 0 0 1px rgba(0, 0, 0, .1);
cursor: pointer;
}

.recent-div img {
    width: 100%;
    opacity: 1;
    cursor: pointer;
}
.recent-div:hover img {
    
    opacity:.5;
}

#news span {
    font-size: 16px;
    color: #888888;
}

#news {
    margin-left: 40px;
}

#news a {
    font-size: 14px;
    color: #333333;
    letter-spacing:-.5px;
}

#news p {
    font-size: 13px;
    color: #666666;
}
#news h3{
    margin-bottom: 20px;
}
#news .col-sm-3 , #news  .col-sm-9 {
padding:0px ;
}
.date {
    float: left;
    text-align: center;
    padding: 0px;
}

.day {
    background: #f2f2f2;
    padding: 10px;
    color: #999;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    display: block;
}

.month {
    background: #ccc;
    padding: 0 10px 2px;
    color: #fff;
    border-radius: 0 0 2px 2px;
    font-size: 16px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .07);
}
.recent-title {
    margin-bottom: 20px ;
    opacity: 1;
}
.recent-title:hover {
    opacity: .6;
    cursor: pointer;
}
#Testimonial {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .06);
    background: #f6f6f6;
    color: #888;
    padding: 25px;
}

#author {
    float: right;
}

#author span {
    color: #169fe6;
    font-size: 13px;
    cursor: pointer;
}

footer {
    /* padding:30px 0 31px;*/
}

footer h4 {
    color: #ffffff;
    font-size: 16px;
    margin: 0 0 15px;
}

footer span {
    font-size: 14px;
    color: #ffffff;
    margin: 0 0 15px;
}

footer i {
    padding: 0px;
}

footer .fa {
    color: #ffffff;
}

#upperfooter {
    background: #4c4c4c;
    padding: 30px 0 31px;
    margin: 0 auto;
}

#upperfooter p {
    color: #dddddd;
    font-size: 14px;
    padding-left: 2px;
}

#upperfooter img:not(#footerlogo) {
    float: left;
    width: 58px;
    height: 58px;
    border: 5px solid #424242;
    margin-bottom: 6px;
    margin-right: 6px;
}

#upperfooter img:not(#footerlogo):hover {
    border: 5px solid #169fe6;
}

#upperfooter .col-sm-4 {
    padding: 0px;
}

#email:hover {
    color: #eeeeee;
    cursor: pointer;
}

#lowerfooter {
    background: #424242;
    padding: 0;
}

#copyright {
    text-decoration: none;
    color: #eeeeee;
    font-size: 12px;
    padding: 0px;
}

#lowerfooter p {
    font-size: 12px;
    margin: 0px;
    color: #aaaaaa;
}

#lowerfooter a:not(#copyright) {
    font-size: 11px;
    text-decoration: none;
    color: #aaaaaa;
    padding: 0px 8px;
    list-style: none;
}

#lowerfooter a:not(#copyright):hover {
    color: #eeeeee;
}

#lowerfooter li {
    list-style: none;
    border-left: 1px solid #505050;
    line-height: 12px;
}

#lowerfooter li:first-child {
    border-left: none;
}